@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Dirt', cursive;
}

html { 
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #202124;
    z-index: 2;
    opacity: .3;
}

.overlay-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:url(overlay.jpg);
    background-size: cover;
    opacity: .2;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(tyler_SHRED-1.jpg);
  background-size:cover;
  background-position: 2% 55%;
  background-repeat:no-repeat;
  width: 100vw;
  height: 100vh;
}

.showcase {
    height: 100vh;
    scroll-snap-type: y mandatory;
}

  
.cta {
    position: relative;
    padding: 1em;
    z-index: 3;

}

.cta h2 {
    text-align: center;
    color: aliceblue;
    font-size: clamp(2rem, 5.5vw, 10em);
    text-transform: uppercase;
    letter-spacing: clamp(.1em,3.5vw,.2em);
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.social {
  color: aliceblue;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.social-icons {
    padding: .2em;
    font-size: clamp(1.4rem, 3.5vw, 3em);
    word-spacing: clamp(.1em,1em,.5em);
}


.social-icons a {
  color: #fff;
}

a:visited {
  color: #fff;
}

.fb:hover {
  color: #3B5998;
    transform: scale(1.3);
    
}

.yt:hover {
  color: #BB0000;
    transform: scale(1.3);
}

.ig:hover {
  color: #125688;
    transform: scale(1.3);
}

.music:hover {
  color: #000;
    transform: scale(1.3);
}

/*/////////////////////////// start down arrow ////////////////////////////////*/
/*/////////////////////////// start down arrow ////////////////////////////////*/
/*/////////////////////////// start down arrow ////////////////////////////////*/
/*/////////////////////////// start down arrow ////////////////////////////////*/

.arrow-container {
    z-index: 3;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all .5s;
  }
  
.arrow-container:hover {
    transform: scale(2.1);
}

  .arrow-1 {
    width: 100px;
    height: 100px;
    background: #4AF9DC;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
  }
  
  .arrow-2 {
    width: 60px;
    height: 60px;
    background: #4AF9DC;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    display: table;
  }
  
  .arrow-2:before {
    content: url(assets/304.png);
    position: absolute;
    top: 8px;
    left: 7px;
  }
  
  .arrow-2 i.fa {
    z-index: 1;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
  }

  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
            animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }

/*/////////////////////////// end down arrow ////////////////////////////////*/
/*/////////////////////////// end down arrow ////////////////////////////////*/
/*/////////////////////////// end down arrow ////////////////////////////////*/
/*/////////////////////////// end down arrow ////////////////////////////////*/

.video-showcase {
  background-color: #125688;
  background-image: url(dark-bg.jpg);
  background-blend-mode: hard-light;
  background-position: 15% 35%;
  background-repeat: no-repeat;
  object-fit: cover;
}


.fbox {
  pointer-events: none;
  cursor: default;
}

.playbutton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  cursor: default;
}

.playb {
  color: #4AF9DC;
  font-size: clamp(100px,20vw,250px);
  z-index: 100;
  pointer-events: auto;
  cursor: pointer;
}

.playb:hover {
  transition: 1s;
  transform: scale(1.3);
}

img {
  min-height: 100%;
  width: 100vw;
  opacity: .5;
}

.yt-title {
    position: relative;
    height: 25vh;
    display: grid;
    place-items: center;
}


.yt-h1 {
    color: #4AF9DC;
    text-transform: uppercase;
    letter-spacing: clamp(.1em,3.5vw,.3em);
    word-spacing: .5em;
    font-size: clamp(2.5rem, 6.2vw, 5.5em);
    text-align: center;
}

@media(max-width: 1095px) {
  
.photo {
  background-position: 48% ;
}

img {
  height: 50vh;
  width: 100vw;
}

.playbutton {
  height: 50vh;

}

}