@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');    


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

html { 
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'roboto', sans-serif;
  }

  .nav {
    width: 100%;
    background-color: #34495D;
    color: aliceblue;
    max-height: 315px;
  }

.logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: clamp(100px,60vw,500px);
  padding: 6px;
}

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: clamp(8px, 2.2vw,25px);
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    list-style: none;
    padding: 6px;
    bottom: 32px;
    position: relative;
  }

.nav-list li {
display: block;
}

  .nav-list li:hover {
    color: #FFA327;
  }

  

.hero-overlay {
  width: 100%;
  height: 100vh;
  background-color: #FFA327;
  mix-blend-mode:overlay;
  opacity: .4;
  position: absolute;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(hero-image-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.about-section {
  width: 100%;
  height: 650px;
  background-color: aliceblue;
  box-shadow: 1px 20px 50px 10px #FFA327;}

.about {
  max-width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  
}

.about h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-top: 1em;
  font-weight: 600;
}

hr {
  color: #FFA327;
  margin-left: 555px;
  margin-right: 555px;
  margin-top: 25px;
  margin-bottom: 25px;

}

.about p {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
}

.about-grid {
  margin-top: 5em;
  display: flex;
  justify-content:space-around;
  text-align: center;
}

.box-1, .box-2 {
  height: 350px;
  width: 500px;
  font-size: 2em;
  color: #2C3E50;
}


.box-1 ul, .box-2 p {
  font-size: 15px;
  list-style: none;
}

.box-1 {
  margin-left: 8em;
  text-transform: none;
}

.box-1 h1 {
  text-transform: uppercase;
}

.box-1 ul {
  margin-top: 1em;
}

.box-1 li::before {
  display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  color: #FFA327;
  margin-right: 12px;
}



.box-1 li {
  padding: 12px;
}

.box-2 {
margin-right: 8em;
}

.box-2 h1 {
  text-transform: uppercase;
}

.gray-box {
  position: relative;
  margin-top: 1em;
  background-color: #F5F5F5;
  padding: 22px;
  border: 5px solid #FFA327;
  font-style: italic;
}

.box-2 p {
  text-transform: none;
}


.services {
  margin-top: 3em;
  max-width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  
}

.our-services h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-top: 1em;
  font-weight: 600;
}


/* MOBILE BREAKS */

@media(max-width: 618px) {

.toggle {
  position: absolute;
  width: clamp(10px,10.6vw,60px);
  height: clamp(10px,10.6vw,60px);
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  cursor: pointer;
  right: 0;
  top: 0;
  margin: 20px;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}


.nav-list {
  display: none;
}

.hero, .hero-overlay {
  height: 20vh;
}


}